body{
	font-family: 'Oswald',Roboto;
}

.list-style-none{
	list-style: none;
	margin-bottom: 0;
}

.box-shadow{
	box-shadow: 2px 2px 2px #e7e7e7;
}

#video{
	width: 100%;
	height: 20rem;
}

#video iframe{
	height: 100%;
	width: 100%;
}

.header{
	background-color: #0054a4;
}

.primary-color{
	color: #00175f;
}

.primary-color-background{
	background-color: #00175f;
	color: #fff;
}

.img-link{
	position: relative;
	display: inline-block;
}

.img-link a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page-stretch{
	position: fixed;
	height: 100%;
	width: 100%;
	/*background-color: #c8c8c8;*/
}

.login-form label{
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
}

button.btn.submit-btn {
	background-color: #ccc;
    border-bottom: 2px solid #ccc;
    width: 160px;
    margin-right: 20px;
    text-transform: uppercase;

}

button.btn.submit-btn:hover{
	background-color: #e1e1e1;
	border-bottom:2px solid #999;
}
.login-form input{
	border:none;
	background-color: transparent;
	border-bottom:2px solid #999;
	border-radius: 0;
}

.login-form .forgot-password-link{
	color: #999;
	text-decoration: none;
	font-size: 14px;
}

.login-form .forgot-password-link:hover{
	color: #444;
}

.center-aligned-div{
	height: 100vh;
}

.center-aligned-div .page-stretch{

}